body,
header,
div,
nav,
ul,
li,
p,
a,
h1,
img,
figure,
button,
h2,
h3,
input {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    ;
    background-color: #ffffff;
}

/* MENU PRINCIPAL*/
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.38) ;
}

.logo {
    font-size: 28px;
    margin-left: 55px;
    color: #292929;
    cursor: pointer;
    transition: 0.4s;
}

.logo:hover {
    color: #37268C;
}

.navegacao {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-right: 15px;
    width: 500px;
    flex: wrap;

}

.item {
    color: #292929;
    text-decoration: none;
    transition: 0.4s;
}

.selecionado{
    font-weight: bold;
}


.item:hover {
    color: #37268C;
    text-decoration: none;
}

/*A apartir daqui para baixo é o card dos produtos*/
.conteudo-principal {
    width: 872px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 250px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: solid #F5F5F5 1px;
}

.card:hover {
    border: #2E245E solid 1px;
    transition: 0.5s;
}

.imagem_principal {
    background-color: #F5F5F5;
    width: 254;
    height: 154px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.categoria {
    width: 79px;
    height: 18px;
    background-color: #2E245E;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-left: 7px;
    font-size: 14px;
    cursor: pointer;
}

.produto {
    color: #292929;
    margin-top: 10px;
    margin-left: 7px;
    font-size: 18px;
    cursor: pointer;
    text-align: left;
}

.descricao {
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 1px;
    font-size: 14px;
    font-weight: 400;
    color: #242424;
    line-height: 24px;
}

.preco {
    font-weight: 600;
    color: #2E245E;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 7px;
    line-height: 16px;
}

.adicionar-ao-carrinho {
    border: none;
    color: #242424;
    cursor: pointer;
    background-color: white;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 7px;
    margin-bottom: 5px;
    line-height: 16px;
    font-weight: 500;
}

.adicionar-ao-carrinho:hover {
    text-decoration: underline #2E245E;
    transition: 0.4s;
}

.menu_lateral {
    display: flex;
    justify-content: center;
}

aside {
    width: 400px;
}

.primeiro_campo {
    margin-top: 50px;
}

.pesquisa {
    padding: 15px;
    padding-right: 85px;
    border: none;
    text-align: left;
    background-color: #F5F5F5;
    font-size: 15px;
    margin-right: 7px;
}

.btn {
    padding: 16px;
    padding-right: 23px;
    background-color: #37268C;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
}

.carrinho {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    background-color: #37268C;
    color: white;
}

.carrinho_cheio {
    background-color: #F5F5F5;
    padding-bottom: 1px;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 350px;
}

::-webkit-scrollbar {
    background-color: #1d1d1d;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 5px;
}

.apoio{
    display: flex;
}



.imagem_carrinho {
    margin: 10px 5px 15px 10px;
    background-color: white;
    width: 180px;
    height: 110px;
    padding-top: 5px;
    cursor: pointer;

}

.img_carrinho{
    width: 180px;
    height: 110px;
}


.info {
    padding-top: 7px;
    margin: 10px;
}

.produto_lista {
    font-size: 15px;
    text-align: left;
    color: #333333;
    font-weight: 700;
    line-height: 25px;
}

.preco_lista {
    text-align: left;
    color: #2E245E;
    font-size: 14px;
    line-height: 50px;
    font-weight: 600;
}

.remover {
    font-size: 15px;
    text-align: left;
    color: #242424;
    font-weight: 400;
    line-height: 25px;
    cursor: pointer;
}

.remover:hover {
    text-decoration: underline #242424;
}

.total {
    background-color: #292929;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.quant {
    margin: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.valor {
    margin: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

